body {
  font-family: Circular Std;
}

/* ===== New ===== */

.projects-page {
  /* background-color: #ff4935; */
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.sec-one {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
  height: 100vh;
}
.sec-one h2 {
  font-size: 88px;
  font-weight: 900;
  color: #000000;
  padding-top: 200px;
  overflow: hidden;
}

.sec-projects {
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
  background-color: #ffffff;
  margin-top: 0px;
  margin-bottom: 0px;
}
.project-image {
  background-color: #000;
  width: 664px;
  height: 497px;
  z-index: 1;
  position: absolute;
  left: 160px;
  margin-top: 100px;
}

.project {
  width: 664px;
  height: 497px;
}
.project-intro {
  /* background-color: #1e4cf0; */
  width: 520px;
  height: 497px;
  position: absolute;
  right: 80px;
  color: #000000;

  text-align: left;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.down {
  background-color: #171313;
}

.text-up {
  background-color: #fff;
  transition: ease-in-out 0.4s;
}

.text-up:hover {
  border: 1px solid;
  border-color: #000;
  right: 60px;
  margin-top: 80px;
}

.up {
  transition: ease-in-out 0.4s;
}

/* make the project image also interactive*/
/* .up:hover {
  left: 180px;
  margin-top: 80px;
} */

.text-intro {
  margin-left: 50px;
}

.text-intro h3 {
  color: #171313;
  margin-top: 0px;
  width: 450px;
}
.text-intro h2 {
  font-size: 20px;
  margin-bottom: 0;
  width: 380px;
  color: #171313;
  text-align: justify;
}
.text-intro h1 {
  font-weight: 300;
  width: 480px;
  margin-top: 80px;
  font-size: 36px;
}
.ploygon {
  position: relative;
  margin-left: 300px;
}

.small-text {
  font-size: 28px;
  margin-bottom: 10px;
}
