body {
  background-color: #ffc664;
  font-family: Circular Std;
}

.wraper {
  width: 359px;
  height: 359px;
  margin: 100px;
  /* display: flex;
  flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image {
  width: 359px;
}
.title {
  background-color: #242424;
  color: #ffc664;
  padding: 15px;
  z-index: 10;
  bottom: 0;
}

h3 {
  font-family: Circular Std;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
}
h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

.card {
  width: 359px;
  height: 359px;
  overflow: hidden;
  position: relative;
  margin: 30px;
}

.card .content {
  z-index: 2;
  width: 420px;
  position: absolute;
  bottom: -100px;
  transition: all 0.7s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  min-height: 100px;
  background: #111;
  opacity: 100%;
}

.card .image {
  z-index: 1;
  height: 359px;
}

.card img {
  height: 100%;
  width: 100%;
  transition: all 0.5s ease;
  transform: scale(1.2);
}

.card:hover .content {
  bottom: 0px;
  color: #fff;
  opacity: 100%;
}

.card:hover .image img {
}

.card .content span:first-child {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

.card .content span:last-child {
  font-size: 14px;
  color: #18cfab;
  text-align: center;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .card {
    width: 50%;
  }
  .card .content {
    bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: 100%;
  }
}

.images-wraper {
  display: flexbox;
  flex-wrap: wrap;
}
