.navbar {
}

.nav-text-vertical {
  font-size: 18px;
  margin: 5px;
  font-weight: 530;
  transition: ease-in-out 0.2s;
}

.nav-text-vertical:hover {
  color: #fb7ea8;
  font-weight: 580;
}
.logo {
  position: fixed;
  z-index: 1;
  left: 24px;
  top: 24px;
}
.logo-img {
  height: 32px;
}
.nav-list {
  z-index: 10;
  /* background-color: aqua; */
  position: fixed;
  top: 108px;
  left: 24px;
  width: 100%;
}
